* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100vw;
}

.navbar {
  width: 100%;
}

.navbar-text {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
}

.menu-text {
  color: #6aa3da;
  font-family: Roboto, sans-serif;
}

.img-corazon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 100px;
  right: 400px;
  z-index: 1;
}

.title-home {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

.text-hero {
  position: relative;
}

#icon-hero {
  color: #f05a52;
  font-size: 32px;
}

.img-click {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 150px;
  right: 648px;
  z-index: 1;
}

.formulario-contacto {
  position: relative;
}

.img-contact {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 957px;
  right: 100px;
  z-index: 1;
}

.img-contact-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1565px;
  right: 736px;
  z-index: 1;
  max-width: 15%;
}

#contact-form {
  max-width: 720px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 0.8%;
}

.form-group {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 20px;
  padding-top: 40px;
}

label {
  display: block;
  font-weight: 400;
  margin-left: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: "Roboto", sans-serif;
  color: dimgrey;
}

.formulario-contacto button {
  display: block;
  margin-left: 20px;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: dimgrey;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(44, 43, 43);
}

.preguntas-frecuentes {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.calendario-eventos {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.texto-calendario {
  margin-top: 120px;
  margin-bottom: 80px;
}

.custom-table {
  border: 1px solid #ccc;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: center;
}

.custom-table thead {
  background-color: #f0f0f0;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.footer-content-home {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 40px;
  margin-top: 100px;
}

#contact-form-footer {
  max-width: 820px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: #6aa3da;
  border-radius: 0.8%;
}

.social-icons-home a {
  font-size: 40px;
  color: #fff;
  margin: 0 20px;
}

.social-icons-home a:hover {
  color: #f05a52;
}

.footer-text {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  margin-top: 20px;
}

.footer-text a {
  text-decoration: none;
  color: #fff;
}

.footer-content-home button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: dimgrey;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(44, 43, 43);
}
.img-footer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 464px;
  right: 606px;
  z-index: 1;
  max-width: 16%;
}

.titulo-preguntas {
  margin-top: 100px;
  margin-bottom: 40px;
}

#contactar {
  font-family: "Comfortaa", cursive;
}

.boton-grande {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}

@media (max-width: 768px) {
  .img-corazon {
    display: none;
  }
  .img-contact {
    display: none;
  }
  .img-contact-2 {
    display: none;
  }
  .img-footer {
    display: none;
  }
  .img-click {
    display: none;
  }
  .navbar-text {
    display: none;
  }
  .beneficios {
    font-size: 24px;
  }
  .img-articulo-gato {
    max-width: 375px;
    margin-left:-90px ;
  }
}

@media (min-width: 768px) and (max-width: 1270px) {
  .img-corazon {
    display: none;
  }
  .img-click {
    display: none;
  }
  .img-articulo-gato {
    width: 75%;
  }
  .img-contact-2 {
    display: none;
  }
  .beneficios {
    font-size: 24px;
  }
  .img-footer {
    display: none;
  }
}
